/* Estilos para el nav */
nav {
    background-color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

nav ul li {
    display: inline;
    position: relative; /* Necesario para posicionar el menú desplegable */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para el dropdown (categorías) */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

/* Estilos adicionales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


/* Estilos para el footer */
footer {
    background-color: #333; /* Fondo oscuro */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info, .footer-social {
    flex: 1;
    margin: 10px;
}

.footer-info h3, .footer-social h3  {
    border-bottom: 2px solid #fff; /* Línea debajo del título */
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-social a {
    margin: 5px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-logo img{
    width: 100px;
    margin: 20px 0px 0 100px;
    
}
/* Ajustes responsivos */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin: auto;
        display: block;
    }
    nav ul li{
        padding: 10px;
        width: 80px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-info, .footer-social {
        text-align: center;
    }

    .cart table thead tr th{
        
        padding: 1px;
    }
}

.footer-otro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-otro a {
    margin: 5px;
}

.footer-otro img{
    width: 30px;
    height: 30px;
}

.footer-otro h3 {
    border-bottom: 2px solid #fff; /* Línea debajo del título */
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.boton_carro{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 4px 8px(0,0,0,0.3);
    z-index: 1000;
}

.boton_carro img{
    width: 30px;
    height: 30px;
}

.boton_carro:hover{
    background-color: black;
    cursor: pointer;
}

/*Diseño del boton para el carrito de compras*/

.todo {
    display: none;
    position: fixed;
    top: 190px;
    left: 380px;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: #fff;
    border: 2px solid black;
    
}

.todo1{
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 2px solid  black;
    width: 80%;
    max-width: 600px;
}

.cierre{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cierre:hover, .cierre:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart {
    margin-top: 20px;
  }
  
  #checkout {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #checkout:hover {
    background-color: #0056b3;
  }


  @media (max-width: 600px) {
    .cart table thead tr th{
        
        padding: 1px;
    }

    .todo{
        top: 190px;
        left: 40px;
        padding: 10px 90px 0 50px;
    }
    .cart{
        padding: 0px 70px 0 0px;
        left: 0;
        
    }

  }



  @media (max-width: 350px) {
    .todo{
        top: 300px;
        left: 10px;
    }

    .cart{
        padding: 10px 200px 20px 20px;
        background-color: #0056b3;
        float: left;
    }
    
    #cart-items{
        justify-items: left;
        background-color: red;
        
    }

    .cierre{
        margin: 0px;
        background-color: black;
    }

    #cart-items thead tr th{
        
        text-align: left;
    }

    .producto{
        background-color: #fff;
        left: 0;
        top: 50px;
    }

  }